.structure-tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    /*background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)*/
}
.structure-tree ul {margin-left: 1.25rem;}
.structure-tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 25px;
    position:relative
}
.structure-tree li::before, .structure-tree li::after {
    content:'';
    left:0 !important;
    position:absolute;
    right:auto
}
.structure-tree li::before {
    border-left:2px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    left:0 !important;
    width:1px
}
.structure-tree li::after {
    border-top:2px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.structure-tree li span {
    display:inline-block;
    padding:7px;
    text-decoration:none;
    background: #F7F7F7;
    border: 1px solid #d7d7d7;
    text-align: center;
}
.structure-tree li span img{width:100px;height:100px;display:block;margin: 0 auto;}
.structure-tree li.parent_li>span {
    cursor:pointer
}
.structure-tree>ul>li::before, .structure-tree>ul>li::after {
    border:0
}
.structure-tree li:last-child::before {
    height:25px
}
.structure-tree li.parent_li>span:hover, .structure-tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}

.tree-color1 span {
    background: #0050A9 !important;
    border: none !important;
    color: white !important;
}

.tree-color2 span {
    background: #0080DB !important;
    border: none !important;
    color: white !important;
}

.tree-color3 span {
    background: #383838 !important;
    border: none !important;
    color: white !important;
}

.tree-color4 span {

        background: none repeat scroll 0 0 #5E5E5E !important;
    border: 1px solid #d7d7d7 !important;
    display: inline-block !important;
    padding: 7px !important;
    text-align: center !important;
    text-decoration: none !important;
    color:#fff !important;
}