.structure-tree ul {margin-left:0 !important;margin-right: 1.25rem;}
.structure-tree li::after{right:0}
.structure-tree li{padding:10px 25px 0 5px !important}
.structure-tree li::before{right:0 !Important;left:initial !important}